In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.style as style
import seaborn as sns
import itertools
from datetime import datetime
import datetime

In [3]:
missing_val=  ['N/a', 'Na', np.nan]
df = pd.read_csv('supermarket_sales - Sheet1.csv', na_values= missing_val)

In [4]:
df.shape

(1000, 17)

In [5]:
pd.set_option('display.max_columns', None)

# Data Cleaning

In [6]:
round(df.isnull().sum() / df.shape[0] * 100.00,2)

Invoice ID                 0.0
Branch                     0.0
City                       0.0
Customer type              0.0
Gender                     0.0
Product line               0.0
Unit price                 0.0
Quantity                   0.0
Tax 5%                     0.0
Total                      0.0
Date                       0.0
Time                       0.0
Payment                    0.0
cogs                       0.0
gross margin percentage    0.0
gross income               0.0
Rating                     0.0
dtype: float64

Majority of the data was cleaned with Excel. This is to verify if there are any other issues.  No nulls were found.

In [7]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [8]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

In [9]:
df.rename({'Unit price': 'Unit_price', 'Tax 5%': 'Tax', 'gross income': 'Gros_income'}, axis=1, inplace=True)

##Binning

### Unite Price

In [10]:
def UPBin(row):
    if row.Unit_price >= 90:
        return '>=90'
    elif row.Unit_price <90 and row.Unit_price >= 80:
        return '80 - <90'
    elif row.Unit_price	<80 and row.Unit_price >= 70:
        return '70 - <80'
    elif row.Unit_price	<70 and row.Unit_price >= 60:
        return '60 - <70'
    elif row.Unit_price	<60 and row.Unit_price >= 50:
        return '50 - <60'
    elif row.Unit_price	<50 and row.Unit_price >= 40:
        return '40 - <50'
    elif row.Unit_price	<40 and row.Unit_price >= 30:
        return '30 - <40'
    elif row.Unit_price <30 and row.Unit_price >= 20:
        return '20 - <30'
    elif row.Unit_price <20 and row.Unit_price >= 10:
        return '10 - <20'
    else:
        return '<10'

In [11]:
df['UnitPriceBin'] = df.apply(UPBin, axis='columns')

###Tax

In [12]:
def TaxBin(row):
    if row.Tax >= 50:
        return '>=50' 
    elif row.Tax <50 and row.Tax >= 40:
        return '40 - <50'
    elif row.Tax <40 and row.Tax >= 30:
        return '30 - <40'
    elif row.Tax <30 and row.Tax >= 20:
        return '20 - <30'
    elif row.Tax <20 and row.Tax >= 10:
        return '10 - <20'
    elif row.Tax <10 and row.Tax >= 5:
        return '5 - <10'
    else:
        return '<5'

In [13]:
df['TaxBin'] = df.apply(TaxBin, axis='columns')

###Total

In [14]:
def TotalBin(row):
    if row.Total >= 1000:
        return '>=1000' 
    elif row.Total <1000 and row.Total >= 500:
        return '500 - <1000'
    elif row.Total <500 and row.Total >= 400:
        return '400 - <500'
    elif row.Total <400 and row.Total >= 300:
        return '300 - <400'
    elif row.Total <300 and row.Total >= 200:
        return '200 - <300'
    elif row.Total <200 and row.Total >= 100:
        return '100 - <200'
    elif row.Total <100 and row.Total >= 50:
        return '100 - <50'
    else:
        return '<50'

In [15]:
df['TotalBin'] = df.apply(TotalBin, axis='columns')

### Cost of Goods

In [16]:
def CogsBin(row):
    if row.cogs >= 1000:
        return '>=1000' 
    elif row.cogs <1000 and row.cogs >= 500:
        return '500 - <1000'
    elif row.cogs <500 and row.cogs >= 400:
        return '400 - <500'
    elif row.cogs <400 and row.cogs >= 300:
        return '300 - <400'
    elif row.cogs <300 and row.cogs >= 200:
        return '200 - <300'
    elif row.cogs <200 and row.cogs >= 100:
        return '100 - <200'
    elif row.cogs <100 and row.cogs >= 50:
        return '100 - <50'
    else:
        return '<50'

In [17]:
df['CogsBin'] = df.apply(CogsBin, axis='columns')

### Gross Income

In [18]:
def GIBin(row):
    if row.Gros_income >= 50:
        return '>=50' 
    elif row.Gros_income <50 and row.Gros_income >= 40:
        return '40 - <50'
    elif row.Gros_income <40 and row.Gros_income >= 30:
        return '30 - <40'
    elif row.Gros_income <30 and row.Gros_income >= 20:
        return '20 - <30'
    elif row.Gros_income <20 and row.Gros_income >= 10:
        return '10 - <20'
    elif row.Gros_income <10 and row.Gros_income >= 5:
        return '5 - <10'
    else:
        return '<5'

In [19]:
df['GIBin'] = df.apply(GIBin, axis='columns')

### Ratings

In [20]:
def RatingsBin(row):
    if row.Rating >= 9:
        return '>= 9' 
    elif row.Rating <9 and row.Rating >= 8:
        return '8 - <9'
    elif row.Rating <8 and row.Rating >= 7:
        return '7 - <8'
    elif row.Rating <7 and row.Rating >= 6:
        return '6 - <7'
    elif row.Rating <6 and row.Rating >= 5:
        return '5 - <6'
    else:
        return '<5'

In [21]:
df['RatingsBin'] = df.apply(RatingsBin, axis='columns')

In [22]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit_price,Quantity,Tax,Total,Date,Time,Payment,cogs,gross margin percentage,Gros_income,Rating,UnitPriceBin,TaxBin,TotalBin,CogsBin,GIBin,RatingsBin
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,70 - <80,20 - <30,500 - <1000,500 - <1000,20 - <30,>= 9
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,10 - <20,<5,100 - <50,100 - <50,<5,>= 9
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,40 - <50,10 - <20,300 - <400,300 - <400,10 - <20,7 - <8
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,50 - <60,20 - <30,400 - <500,400 - <500,20 - <30,8 - <9
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,80 - <90,30 - <40,500 - <1000,500 - <1000,30 - <40,5 - <6

#Analysis

## Getting Unique Values and Transforming into Percentages.

In [23]:
def count_unique(df, cols):
    for col in cols:
        print('\n' + 'For column ' + col)
        print(df[col].value_counts(normalize = True)*100)

cat_cols = ['Branch','City','Customer type','Gender','Product line', 'Quantity', 'Payment', 'UnitPriceBin','TaxBin','TotalBin','CogsBin','GIBin', 'RatingsBin']

count_unique(df, cat_cols)
df.shape

For column Branch
A    34.0
B    33.2
C    32.8
Name: Branch, dtype: float64

For column City
Yangon       34.0
Mandalay     33.2
Naypyitaw    32.8
Name: City, dtype: float64

For column Customer type
Member    50.1
Normal    49.9
Name: Customer type, dtype: float64

For column Gender
Female    50.1
Male      49.9
Name: Gender, dtype: float64

For column Product line
Fashion accessories       17.8
Food and beverages        17.4
Electronic accessories    17.0
Sports and travel         16.6
Home and lifestyle        16.0
Health and beauty         15.2
Name: Product line, dtype: float64

For column Quantity
10    11.9
1     11.2
4     10.9
7     10.2
5     10.2
6      9.8
9      9.2
2      9.1
3      9.0
8      8.5
Name: Quantity, dtype: float64

For column Payment
Ewallet        34.5
Cash           34.4
Credit card    31.1
Name: Payment, dtype: float64

For column UnitPriceBin
>=90        12.7
70 - <80    12.0
20 - <30    11.8
50 - <60    10.8
30 - <40    10.8
40 - <50    10.7
10 - <20    10.6
80 - <90    10.5
60 - <70    10.1
Name: UnitPriceBin, dtype: float64

For column TaxBin
10 - <20    26.7
<5          22.4
5 - <10     21.0
20 - <30    16.2
30 - <40     9.7
40 - <50     4.0
Name: TaxBin, dtype: float64

For column TotalBin
500 - <1000    21.8
100 - <200     20.2
200 - <300     15.9
100 - <50      13.9
300 - <400     11.1
400 - <500      9.3
<50             6.9
>=1000          0.9
Name: TotalBin, dtype: float64

For column CogsBin
100 - <200     21.0
500 - <1000    20.6
200 - <300     15.5
100 - <50      15.3
300 - <400     11.2
400 - <500      9.3
<50             7.1
Name: CogsBin, dtype: float64

For column GIBin
10 - <20    26.7
<5          22.4
5 - <10     21.0
20 - <30    16.2
30 - <40     9.7
40 - <50     4.0
Name: GIBin, dtype: float64

For column RatingsBin
6 - <7    18.4
7 - <8    17.2
>= 9      16.6
8 - <9    16.3
5 - <6    16.2
<5        15.3
Name: RatingsBin, dtype: float64

(1000, 23)

### Gender by Branch

In [24]:
df.groupby("Branch").Gender.value_counts(normalize=True)*100

Branch  Gender
A       Male      52.647059
        Female    47.352941
B       Male      51.204819
        Female    48.795181
C       Female    54.268293
        Male      45.731707
Name: Gender, dtype: float64

Gender by Member Status (Customer Type)

In [25]:
df.groupby("Customer type").Gender.value_counts(normalize=True)*100

Customer type  Gender
Member         Female    52.095808
               Male      47.904192
Normal         Male      51.903808
               Female    48.096192
Name: Gender, dtype: float64

Gender by Branch and Member status

In [26]:
df.groupby(["Customer type","Branch"]).Gender.value_counts(normalize=True)*100

Customer type  Branch  Gender
Member         A       Male      52.095808
                       Female    47.904192
               B       Female    51.515152
                       Male      48.484848
               C       Female    56.804734
                       Male      43.195266
Normal         A       Male      53.179191
                       Female    46.820809
               B       Male      53.892216
                       Female    46.107784
               C       Female    51.572327
                       Male      48.427673
Name: Gender, dtype: float64

In [27]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit_price,Quantity,Tax,Total,Date,Time,Payment,cogs,gross margin percentage,Gros_income,Rating,UnitPriceBin,TaxBin,TotalBin,CogsBin,GIBin,RatingsBin
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,70 - <80,20 - <30,500 - <1000,500 - <1000,20 - <30,>= 9
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,10 - <20,<5,100 - <50,100 - <50,<5,>= 9
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,40 - <50,10 - <20,300 - <400,300 - <400,10 - <20,7 - <8
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,50 - <60,20 - <30,400 - <500,400 - <500,20 - <30,8 - <9
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,80 - <90,30 - <40,500 - <1000,500 - <1000,30 - <40,5 - <6

In [28]:
df.groupby(["Branch","Product line"]).Total.sum()

Branch  Product line
A       Electronic accessories    18317.1135
        Fashion accessories       16332.5085
        Food and beverages        17163.1005
        Health and beauty         12597.7530
        Home and lifestyle        22417.1955
        Sports and travel         19372.6995
B       Electronic accessories    17051.4435
        Fashion accessories       16413.3165
        Food and beverages        15214.8885
        Health and beauty         19980.6600
        Home and lifestyle        17549.1645
        Sports and travel         19988.1990
C       Electronic accessories    18968.9745
        Fashion accessories       21560.0700
        Food and beverages        23766.8550
        Health and beauty         16615.3260
        Home and lifestyle        13895.5530
        Sports and travel         15761.9280
Name: Total, dtype: float64

### Total spend by Membership Status

In [29]:
df.groupby("Customer type").Total.sum()

Customer type
Member    164223.444
Normal    158743.305
Name: Total, dtype: float64

### Total Spend by Gender

In [30]:
df.groupby("Gender").Total.sum()

Gender
Female    167882.925
Male      155083.824
Name: Total, dtype: float64

### Spend by Product Line

In [31]:
df.groupby("Product line").Total.sum()

Product line
Electronic accessories    54337.5315
Fashion accessories       54305.8950
Food and beverages        56144.8440
Health and beauty         49193.7390
Home and lifestyle        53861.9130
Sports and travel         55122.8265
Name: Total, dtype: float64

### Spend by Pay ment Type

In [32]:
df.groupby("Payment").Total.sum()

Payment
Cash           112206.570
Credit card    100767.072
Ewallet        109993.107
Name: Total, dtype: float64

### Avg Ratings by Product Type

In [34]:
df.groupby("Product line").Rating.mean()

Product line
Electronic accessories    6.924706
Fashion accessories       7.029213
Food and beverages        7.113218
Health and beauty         7.003289
Home and lifestyle        6.837500
Sports and travel         6.916265
Name: Rating, dtype: float64

### Gross Income

In [36]:
df.groupby("Product line").Gros_income.sum()

Product line
Electronic accessories    2587.5015
Fashion accessories       2585.9950
Food and beverages        2673.5640
Health and beauty         2342.5590
Home and lifestyle        2564.8530
Sports and travel         2624.8965
Name: Gros_income, dtype: float64

### GI by Branch

In [39]:
df.groupby("Branch").Gros_income.sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: Gros_income, dtype: float64

### COG by Product line

In [37]:
df.groupby("Product line").cogs.sum()

Product line
Electronic accessories    51750.03
Fashion accessories       51719.90
Food and beverages        53471.28
Health and beauty         46851.18
Home and lifestyle        51297.06
Sports and travel         52497.93
Name: cogs, dtype: float64

### By Branch

In [38]:
df.groupby("Branch").cogs.sum()

Branch
A    101143.21
B    101140.64
C    105303.53
Name: cogs, dtype: float64